.elements__del-btn {
    width: 18px;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    background-image: url(../../../images/delete_icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 18px;
    right: 15px;
    transition: opacity 0.3s ease-in-out;
}

.elements__del-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}