.header__link {
  background: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}